@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

/*-----  VARIABLES  -----*/

:root{
    --azul-general: #181E4B;
    --color-texto: #FFFFFF;
}

.body{
    font-family: "Overlock SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*-----  HEADER  -----*/

.header{
    display: flex;
    justify-content: space-between;
    background-color: var(--azul-general);
    color: var(--color-texto);
    align-items: center;
}

.header__h1{
    font-size: 2em; /* Tamaño de fuente similar al h1 */
    font-weight: bold; /* Negrita como el h1 */
    margin: 0.50em 0.60em 0.70em 0.80em;
}

.nav__a{
    color: var(--color-texto);
    padding: 0px 15px;
    font-size: 1.1em;
}

a :hover{
    color: #181E4B ;
}

/*-----  MAIN  -----*/

.section{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
    margin-top: 20px;

}

.section__article{
    display: flex;
    justify-content: center;
    width: 45%;
    margin: 1px;
}

.section__img{
    width: 100%;
    height: 100%;
}


